@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.header {
    position: fixed;
    z-index: 5;
    height: 10vh;
    width: 100vw;
    background: #005f004b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-family: monospace;
    font-weight: 700;
    color: #FFF;
    margin-left: 50px;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
}

.element {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    color: #FFF;
    transition: 0.3s;
}

.element:hover {
    color: #008000;
}

#section1,
#section2,
#section3,
#section4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-image: url(R.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rapwrape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(124, 2, 27);
    transform: translateY(-15vh);
}

.rapwrape h1 {
    font-size: 7rem;
    font-family: 'Montserrat', sans-serif;

}

.rapwrape h2 {
    font-size: 5rem;
}

.rapwrape h3 {
    font-size: 3rem;
}