@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.header {
    position: fixed;
    z-index: 5;
    height: 10vh;
    width: 100vw;
    background: #005f004b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-family: monospace;
    font-weight: 700;
    color: #FFF;
    margin-left: 50px;
}

.nav-bar {
    margin-right: 50px;
}

.list-container {
    display: flex;
    gap: 30px;
    list-style: none;
}

.element {
    text-decoration: none;
    font-size: 1.2rem;
    font-family: monospace;
    font-weight: 700;
    color: #FFF;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.res {
    display: none;
}

.freeze {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url(image/bg1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#section1,
#section2,
#section3,
#section4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rapwrape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #7c021b;
    transform: translateY(-15vh);
    background: #00000056;
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 20px;
}

.rapwrape h1 {
    font-size: 6rem;
    font-family: 'Montserrat', sans-serif;
}

.rapwrape h2 {
    font-size: 5rem;
}

.rapwrape h3 {
    font-size: 4rem;
}

.section2-wrapper {
    width: min(100vw, 1960px);
    height: max(100%, 400px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text-container {
    max-width: 60%;
    text-align: center;
    background: #00000056;
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 20px;
}

.about-text {
    font-size: 2rem;
    font-size: clamp(10px, 10vw, 2rem);
    font-family: monospace;
    color: #FFF;
}

.section3-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.skills {
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0080006b;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    font-size: 5rem;
    font-family: 'Lemon', serif;
    flex-grow: 1;
}

.x1 {
    color: orange;
}

.x2 {
    color: blue;
}

.x3 {
    color: rgb(255, 238, 0);
}

#section4 {
    background: #00000c71;
}

.wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

.wrapper-text {
    width: 50%;
    display: flex;
    justify-content: center;
}

.wrapper-text div {
    color: #FFF;
}

.wrapper-text div h1 {
    font-size: 5rem;
}

.wrapper-text div h2 {
    font-size: 2rem;
}

.wrapper form {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px
}

.input {
    padding: 10px;
    border: none;
    resize: none;
    border-radius: 10px;
    background: #00b61e5d;
    backdrop-filter: blur(20px);
    color: #FFF;
    outline: transparent;
    align-self: flex-start;
    margin-left: 20%;
}

.input::placeholder {
    color: #FFF;
}

.input-field {
    width: 30%;
}

#textarea {
    width: 50%;
}

.sumbit {
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (min-width:1024px) {
    .element:hover {
        background: #000;
        color: #008000;
    }

    .sumbit:hover {
        background: hsla(130, 100%, 60%, 0.365);
    }
}

@media screen and (max-width:1024px) {
    .rapwrape h3 {
        font-size: 3rem;
        font-size: clamp(10px, 10vw, 3rem);
    }

    .rapwrape h2 {
        font-size: 4rem;
        font-size: clamp(10px, 10vw, 4rem);
    }

    .rapwrape h1 {
        font-size: 5rem;
        font-size: clamp(10px, 10vw, 5rem);
    }

    .about-text-container {
        max-width: 90%;
    }

    .input-field {
        width: 40%;
    }

    #textarea {
        width: 60%;
    }

    .sumbit {
        width: 20%;
    }
}

@media screen and (max-width:768px) {
    .rapwrape h1 {
        font-size: 5rem;
    }

    .nav-bar {
        position: fixed;
        top: 0;
        right: -50%;
        transform: translateX(50%);
        width: 50%;
        height: 100vh;
        background: #e2df0a88;
        backdrop-filter: blur(20px);
        margin: 0;
        transition: 0.5s;
    }

    .nav-bar.active {
        right: 0;
        transform: translateX(0);

    }

    .list-container {
        margin-top: 50px;
        margin-left: 50px;
        width: 100%;
        height: 50%;
        flex-direction: column;
    }

    .res {
        display: block;
        font-size: 2rem;
    }

    .res:active {
        color: #FFF;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 50px;
    }

    .menu {
        margin-right: 50px;
    }

    .rapwrape h3 {
        font-size: 3rem;
        font-size: clamp(10px, 10vw, 3rem);
    }

    .rapwrape h2 {
        font-size: 4rem;
        font-size: clamp(10px, 10vw, 4rem);
    }

    .rapwrape h1 {
        font-size: 5rem;
        font-size: clamp(10px, 10vw, 5rem);
    }

    .about-text {
        font-size: 1.5rem;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .wrapper-text {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wrapper form {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
    }

    .input {
        width: max(50%, 250px);
        padding: 10px;
        border: none;
        resize: none;
        border-radius: 10px;
        background: #00b61e5d;
        backdrop-filter: blur(20px);
        color: #FFF;
        outline: transparent;
        align-self: center;
        margin-left: 0;
    }

    #textarea {
        width: max(50%, 250px);
    }
}

@media screen and (max-width:567px) {
    .logo {
        margin-left: 30px;
        font-size: 2rem;
    }

    .nav-bar {
        width: 100%;
    }

    .list-container {
        margin-left: 30px;
        margin-top: 30px;
    }

    .close {
        right: 30px;
    }

    .menu {
        margin-right: 30px;
        font-size: 1.5rem;
    }

    .rapwrape h3 {
        font-size: 2rem;
        font-size: clamp(10px, 10vw, 2rem);
    }

    .rapwrape h2 {
        font-size: 2.2rem;
        font-size: clamp(10px, 10vw, 2.2rem);
    }

    .rapwrape h1 {
        font-size: 2.3rem;
        font-size: clamp(10px, 10vw, 2.3rem);
    }

    .about-text {
        font-size: 1.1rem;
    }

    .container {
        gap: 0;
    }

    .skills {
        height: 150px;
        justify-content: space-between;
        flex-direction: row;
    }

    .skills i {
        margin-left: 20px;
    }

    .skills span {
        font-size: 3rem;
        margin-right: 20px;
    }

    .wrapper-text div h1 {
        font-size: 3rem;
    }

    .wrapper-text div h2 {
        font-size: 1rem;
    }

    .wrapper form {
        height: 400px;
    }

    #textarea {
        height: 200px;
    }

}